<div id='date-pair' class="panel-body">
    <div class="col-md-6 col-sm-6 col-xs-6 date-picker">
        <span class="calendar">{{gru-icon name='event'}}</span>
      {{input
      type='text'
      id=dateID
      value=rawDateValue
      disabled=disabled
      placeholder=(t 'assign-students.date')
      class="form-control"
      key-press="inputTyping"
      enter="enterPressed"
      focus-out="inputValueChange"
      autofocus=autofocus
      maxlength=maxLength
      }}
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 time-picker">
        <span class="clock">{{gru-icon name='access_time'}}</span>
      {{input
      type='text'
      id=timeID
      value=rawTimeValue
      disabled=disabled
      placeholder=(t 'assign-students.time')
      class="form-control"
      key-press="inputTyping"
      enter="enterPressed"
      focus-out="inputValueChange"
      autofocus=autofocus
      }}
    </div>
</div>
<div class="error-messages">
  {{#if showMessage}}
      <span class="error">
        {{{v-get model valuePath 'message'}}}
      </span>
  {{/if}}
</div>