<table class="table">
    <thead>
    <tr>
        <th class="num-header"><a {{action 'sortBy' 'assignedDate'}}><span>{{gru-icon name='swap_vert'}}</span></a></th>
        <th class="score-header"><a {{action 'sortBy' 'score'}}>{{t 'common.score'}} <span>{{gru-icon name='swap_vert'}}</span></a></th>
        <th class="title-header"><a {{action 'sortBy' 'title'}}>{{t 'assignments-view.title'}}<span>{{gru-icon name='swap_vert'}}</span></a></th>
        <th class="standards-header">{{t 'assignments-view.standards'}}</th>
        <th class="date-header"><a {{action 'sortBy' 'dueDate'}}>{{t 'assignments-view.dueDate'}}<span>{{gru-icon name='swap_vert'}}</span></a></th>
        <th class="attempts-header">{{t 'assignments-view.attempts'}}</th>
    </tr>
    </thead>
    <tbody>
    {{#each assignments as |assignment index|}}
        <tr class="{{if assignment.selected 'selected'}}" {{action 'selectAssignment' assignment}}>
            <td class="num">
               {{plus-one index}}
            </td>
            <td class="score">
               <span class="score" style="background-color: {{ gradeColor (if assignment.hasStarted assignment.score 'NA') }}">
                  {{if assignment.hasStarted assignment.score '--'}}%
                </span>
              </td>
            <td class="title">{{assignment.title}}</td>
            <td class="standards">{{assignment.standards}}</td>
            <td class="due-date">{{formatDate assignment.dueDate 'h:mm a MM/DD/YYYY'}}</td>
            <td class="attempts">{{assignment.attempts}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
