<div class="panel panel-default assignment-detail">
        <div class="panel-heading">
            <div class="actions">
              {{#if assignment.hasStarted}}
                  <button class="btn btn-default view-report">{{t 'assignment-details.view-report'}}</button>
                  <button class="btn btn-default {{if hasAttempts 'redo' 'no-attempts'}}" disabled={{if hasAttempts false true}}>{{t 'assignment-details.redo'}}</button>
              {{else}}
                  <button class="btn btn-default play">{{t 'common.play'}}</button>
              {{/if}}
            </div>
        </div>
        <div class="panel-body" style="{{contentHeight}}">
           <div class="attempts-container">
               <div class="attempts-left">
                   <span>{{t 'assignment-details.attempts-left' attempts=assignment.attempts count=assignment.totalAttempts}}</span>
               </div>
               <div class="last-attempt">
                   <span>{{t 'assignment-details.lastAttempt'}}</span>
                   <span class="score" style="background-color: {{ gradeColor (if assignment.score assignment.score 'NA') }}">
                    {{if assignment.score assignment.score '--'}}%
                  </span>
               </div>
           </div>
            <div class="title">
                <span><b>{{t 'assignments-view.title'}}: </b>{{assignment.title}}</span>
            </div>
            <div class="questions-container">
                <div class="questions">
                    <span><b>{{t 'assignment-details.questions'}}:</b> {{assignment.questions.length}}</span>
                </div>
                <div class="date-assigned">
                    <span><b>{{t 'assignments-view.date'}}: </b> {{formatDate assignment.assignedDate 'h:mm a MM/DD/YYYY'}}</span>
                </div>
            </div>
            <div class="learning-objective">
                <span><b>{{t 'assignment-details.learningObjective'}}: </b>{{assignment.learningObjective}}</span>
            </div>
            <div class="standards">
                <span><b>{{t 'assignments-view.standards'}}: </b></span>
            </div>
            <div class="navigation">
                <span><b>{{t 'assignment-details.navigation'}}: </b>{{assignment.settings.navigation}}</span>
            </div>
            <div class="attempts">
                <span><b>{{t 'assignment-details.attempts'}}: </b>{{assignment.totalAttempts}}</span>
            </div>
            <div class="show-score">
                <span><b>{{t 'assignment-details.show-score'}}: </b>{{assignment.settings.showScore}}</span>
            </div>
            <div class="answer-key">
                <span><b>{{t 'assignment-details.answer-key'}}: </b>{{if assignment.settings.answerKey (t 'assignment-details.on') (t 'assignment-details.off')}}</span>
            </div>
        </div>
</div>
