<div class="panel panel-default">
  {{#if student.isAttemptStarted}}
    <div class="panel-heading {{ if anonymous 'anonymous'}}" {{!-- style={{startedStyle}} --}} {{action 'selectStudent'}}>
      <div class='student-circle'> </div>
      <span class="name">{{ if anonymous student.profileCode student.lastFirstName }}</span>
      {{#unless anonymous}}
        {{#unless student.isAttemptFinished}}
          <span class="question-in-progress">{{gru-icon name='av_timer'}}</span>
        {{/unless}}
      {{/unless}}
    </div>
  {{else}}
    <div class="panel-heading {{ if anonymous 'anonymous'}} not-started" {{action 'selectStudent'}}>
      <div class='student-circle'> </div>
      <span class="name">{{ if anonymous student.profileCode student.lastFirstName }}</span>
    </div>
  {{/if}}
  <hr>
  <div class="panel-body questions">
    {{#each questions as |question index|}}
      <span class="{{question.status}}" {{action 'selectQuestion' question.id}}> {{ plus-one index}}</span>
    {{/each}}
  </div>
</div>