<div class="summary-report-questions">
  <div class="questions-header">
    <div class="title">
      <h4>{{title}}</h4>
    </div>
    {{#unless isOpenEnded}}
      {{#if isAnswerKeyHidden}}
        <em>{{t "common.answer-key-was-hidden"}}</em>
      {{else}}
        <div class="btn-group summary-report-btn" role="group">
          <button type="button" {{action 'selectPerformanceOption' true}} class="performance btn {{if showPerformance 'btn-primary' ' '}}">{{t "common.performance"}}</button>
          <button type="button" {{action 'selectPerformanceOption' false}} class="correct-answer btn {{unless showPerformance 'btn-primary' '' }}">{{t "common.show-correct-answer"}}</button>
        </div>
      {{/if}}
    {{/unless}}
  </div>
  <table>
    <thead>
      <tr>
        <th class="header number">
          {{t "common.number"}}
        </th>
        <th class="header question top-left">
          <span class="title">{{t "common.question"}}</span>
          <i class="icon question"></i>
        </th>
        <th class="header answer top-left">
          <span class="title">{{t "common.answer"}}</span>
          <span class="icon">{{gru-icon name='subject'}}</span>
        </th>
        {{#if showScore}}
          <th class="header score {{if showPerformance 'visible' 'hide'}}">
            <span class="title">{{t "common.score"}}</span>
            <span class="icon">{{gru-icon name='done_all'}}</span>
          </th>
        {{/if}}
        <th class="header time-spent {{if showPerformance 'visible' 'hide'}}">
          <span class="title">{{t "common.timeSpent"}}</span>
          <span class="icon">{{gru-icon name='av_timer'}}</span>
        </th>
        <th class="header reaction {{if showPerformance 'visible' 'hide'}}">
          <span class="title">{{t "common.reaction"}}</span>
          <span class="icon">{{gru-icon name='mood'}}</span>
        </th>
        {{#unless isAnswerKeyHidden}}
          <th class="header correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
            <span class="title">{{t "common.correct-answer"}}</span>
            <span class="icon">{{gru-icon name='done_all'}}</span>
          </th>
        {{/unless}}
      </tr>
    </thead>
    <tbody>
      {{#each results as |result|}}
        <tr class="tr-number-{{result.question.sequence}}">
          <td class="number-question top-left">
            {{result.question.sequence}}
          </td>
          <td class="question-text top-left">
            <div class="text">
              {{gru-math-text text=result.question.description}}
              {{#if result.question.hasMedia}}
                <img class="img-responsive" src="{{result.question.mediaUrl}}" />
              {{/if}}
            </div>
          </td>
          <td class="question-answer top-left">
            {{#if result.started}}
              {{{component (qz-question-config result.question.type 'component.answer') question=result}}}
            {{/if}}
          </td>
          {{#if showScore}}
            <td class="question-score {{if showPerformance 'visible' 'hide'}}">
              {{#if (and result.started result.skipped)}}
                <span class="skipped">
                      {{gru-icon name='ic_block'}}
                  </span>
              {{else}}
                <span class="{{if result.started (if result.correct 'correct' 'incorrect') 'not-started'}}">
                      {{#if result.started}}
                             <i class="icon"> </i>
                       {{else}}
                            {{gru-icon name='radio_button_checked'}}
                     {{/if}}
                  </span>
              {{/if}}
            </td>
          {{/if}}
          <td class="question-time {{if showPerformance 'visible' 'hide'}}">
            {{format-time result.timeSpent}}
          </td>
          <td class="question-reaction {{if showPerformance 'visible' 'hide'}}">
            {{qz-reaction-icon result.reaction}}
          </td>
          {{#unless isAnswerKeyHidden}}
            <td class="correct-answer top-left {{if showPerformance 'hide' 'visible'}}">
              {{{component (qz-question-config result.question.type 'component.answer') question=result showCorrect=true}}}
            </td>
          {{/unless}}
        </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="question-container {{content.resource.type}} {{if isShowCorrectAnswer 'answer-visible'}}">
    <div class="question-header-container">
      <div class="question-title-container">
        <div class="question-order">{{contentSeq}}.</div>
        <div class="question-icon"></div>
        <div class="title ellipsis">{{safe-html content.resource.title}}</div>
      </div>
      <div class="question-performance-container">
          <div class="question-reaction">
            {{qz-reaction-icon content.reaction }}
          </div>
          {{#if showScore}}
            {{#if (and content.started content.skipped)}}
              <div class="question-status" data-toggle="tooltip" title="Skipped">
                {{gru-icon name="block"}}
              </div>
            {{else}}
              <div class="question-score">
                <span class="{{if content.started (if content.correct 'correct' 'incorrect') 'not-started'}}">
                    {{#if content.started}}
                           <i class="icon"> </i>
                     {{else}}
                          {{gru-icon name='radio_button_checked'}}
                   {{/if}}
                </span>
              </div>
            {{/if}}
          {{/if}}
          <div class="question-timespent">
            {{format-time content.savedTime}}
          </div>
        </div>
    </div>
    <div class="taxonomies-conatiner">
      {{#if taxonomyTags.length}}
        {{taxonomy/gru-taxonomy-tag-list tags=taxonomyTags tagsVisible=1 isInCard=true}}
      {{/if}}
    </div>
    <div class="question-description">
      {{{gru-math-text text=content.resource.description}}}
    </div>
    {{#if content.resource.hasMedia}}
      <div class="question-thumbnail">
        <img class="img-responsive" src="{{content.resource.mediaUrl}}" />
      </div>
    {{/if}}
    <div class="answer-container">
      {{#if content.started}}
        <div class="user-answer answer-section">
          <div class="answer-type-label type-label">
            {{#if (not content.resource.userAnswer)}}
              {{t 'gru-question-viewer.answer'}}
            {{else}}
              {{#if isStudent}}
                {{t 'common.answer'}}
              {{else}}
                {{t 'common.student'}} {{t 'gru-question-viewer.answer'}}
              {{/if}}
            {{/if}}
          </div>
          <div class="answer-value-container">
            {{#if content.started}}
              {{{component (qz-question-config content.resource.type 'component.answer') question=content}}}
            {{/if}}
          </div>
        </div>
      {{/if}}
      {{#unless showPerformance}}
        <div class="correct-answer answer-section">
          <div class="answer-type-label type-label">{{t 'common.correct-answer'}}</div>
          <div class="answer-value-container">
            {{{component (qz-question-config content.resource.type 'component.answer') question=content showCorrect=true}}}
          </div>
        </div>
      {{/unless}}
    </div>
  </div>

</div>
