<div class="navigator-header" >
    <div class="back-button" >
      {{#if showBackButton}}
      <div class="backSpan" {{action 'closePlayer'}}>
      <span> {{gru-icon name='keyboard_arrow_left'}}{{t 'common.back'}}</span></div>
      {{/if}}
      {{#if (or isTeacher isAnonymous)}}
        <div class="remixSpan">
        <button class="remix-btn btn btn-success btn-sm" {{action 'remixCollection' collection}}>{{t 'common.remix'}}</button>
      </div>
       {{/if}}
    </div>

  <div class="collection-info">
    <p class="collection-type">{{#if collection.isAssessment}}{{t 'common.assessment'}}{{else}}{{t 'common.collection'}}{{/if}}:</p>
    <p class="collection-title">{{collection.title}}</p>
  </div>
  <div class="pull-right close-navigator hidden-md hidden-lg">
    <button class="btn btn-link hamburger-icon"{{action 'closeNavigator'}}>{{gru-icon name='menu'}}</button>
  </div>
</div>
{{#unless (or isTeacher isAnonymous)}}
  <div class="course-map" {{action 'redirectCourseMap'}}>
    {{gru-icon name="ic_play_arrow" class="course-map-play-icon on-slide-close"}}
     <span class="on-slide-open">GO TO COURSE MAP</span>
  </div>
  {{#if (and showPrevious previousResource)}}
    <div class="pervious-resource" {{action 'onPreviousResource'}}>
      {{gru-icon name="ic_navigate_before"}}
      <h6 class="on-slide-open ellipsis">{{truncate-text text=(no-tags text=previousResource.title) type='medium'}}</h6>
    </div>
  {{/if}}
{{/unless}}
<ul class="list-group resources {{if isNavigationDisabled 'disabled' }} on-slide-open">
  {{#each resourceItems as |item index|}}
    <li class="list-group-item {{if item.started 'started'}} {{if item.selected 'selected'}}"
        {{action 'selectItem' item}}>
      <div class="resources-info">
        <span class="number">{{plus-one index}}</span>
        <i class="bubble-type {{item.resource.format}}"></i>
        <h6 class="title hidden-sm hidden-md">
          {{truncate-text text=(no-tags text=item.resource.title) type='medium'}}
        </h6>
        <h6 class="title visible-sm visible-md">
          {{truncate-text text=(no-tags text=item.resource.title) type='player-nav-sm'}}
        </h6>
        {{#if (and showFeedback (not item.resource.isOpenEnded))}}
          {{#if item.started}}
            <span class="score {{if item.isCorrect 'correct' 'incorrect'}}">
              {{gru-icon name='radio_button_checked'}}
            </span>
          {{/if}}
        {{/if}}
      </div>
    </li>
  {{/each}}
</ul>
{{#if collection.isCollection}}
  <div class="navigator-subheader">
    <div class="see-usage-report on-slide-open" {{action 'seeUsageReport'}}>
      <span class="collection-title"> {{t 'qz-navigator.see-usage-report'}} </span>
      {{gru-icon name='keyboard_arrow_right'}}
    </div>
  </div>
{{else}}
  {{#unless showFinishConfirmation}}
  <div class="submit-all on-slide-open">
    {{#unless submitted}}
      <button tabindex=-1 class="btn btn-success finish-collection" {{action "finishCollection"}}>{{t "common.submit-all"}}</button>
    {{/unless}}
  </div>
  {{/unless}}
{{/if}}
