<div class="confirmation-panel {{unless isCollectionConfirmation 'assessment'}} {{if isSuggestedContent 'suggested-content'}}">
  <div class="header">
    <div class="title-info">
      <div class="collection-info">
        <div class="title">
          {{confirmationInfo.title}}
        </div>
        <div class="content-info">
          {{#if isCollectionConfirmation}}
            <div class="resource">
              <span class="icon" data-toggle="tooltip" title="{{t 'common.resource'}}"></span>
              <span>{{confirmationInfo.resourceCount}}</span>
            </div>
          {{/if}}
          <div class="question">
            <span class="icon" data-toggle="tooltip" title="{{t 'common.question'}}"></span>
            <span>{{confirmationInfo.questionCount}}</span>
          </div>
          <div class="taxonomy">
            {{#if tags.length}}
              {{taxonomy.gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{#if isSuggestedContent}}
      <div class="suggestion-badge">
        <div class="suggestion-icon">
          {{#if (eq collectionSource 'system_suggestions')}}
            {{gru-icon name="explore" class="system_suggestions icon"}}
          {{else }}
            <span class="teacher_suggestions icon"></span>
          {{/if}}
        </div>
      </div>
    {{/if}}
  </div>
  <div class="body">
    <div class="description">
      {{confirmationInfo.learningObjectives}}
    </div>
    {{#unless isCollectionConfirmation}}
      <div class="properties {{if (eq collection.showFeedback 'immediate') 'answers-available'}}">
        <div class="navigation">
          {{#unless noMoreAttempts}}
            <div class="direction">
              {{#if collection.bidirectional}}
                {{gru-icon name='swap_horiz'}}
                <div class="info bidirectional">
                  {{t "qz-assessment-confirmation.forward-backward"}}
                </div>
              {{else}}
                {{gru-icon name='trending_flat'}}
                <div class="info not-bidirectional">
                  {{t "qz-assessment-confirmation.forward"}}
                </div>
              {{/if}}
            </div>
          {{/unless}}
        </div>
        {{#if (eq collection.showFeedback 'immediate')}}
          <div class="answers">
            {{gru-icon name='visibility'}}
            <div class="info">
              See correct answers within the assessment
            </div>
          </div>
        {{/if}}
        <div class="attempts">
          {{#if unlimited}}
            {{gru-icon name='cached'}}
            <div class="info unlimited">{{t "qz-assessment-confirmation.unlimited-attempts-left"}}</div>
          {{else}}
            {{#if noMoreAttempts}}
              {{gru-icon name='highlight_off'}}
              <div class="info no-more">{{t "qz-assessment-confirmation.attempts-left.no-attempts"}}</div>
            {{else}}
            <div class="attempt">{{attemptsLeft}}</div>
              <div class="info">{{t "qz-assessment-confirmation.attempts-left" count=attemptsLeft}}</div>
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{/unless}}
  </div>
  <div class="footer">
    <div class="cancel {{if noMoreAttempts "back" "cancel"}}" {{action 'cancel'}}>{{if noMoreAttempts (t 'common.back') (t 'common.cancel')}}</div>
    {{#unless noMoreAttempts}}
      <div class="start" {{action 'start'}} disabled={{disableStart}}>{{if context.hasStarted (t 'qz-assessment-confirmation.continue') (t 'qz-assessment-confirmation.start')}}</div>
    {{/unless}}
  </div>
</div>
