<div class="confirmation-panel {{unless isCollectionConfirmation 'assessment'}} {{if isSuggestedContent 'suggested-content'}}">
  <div class="confirmation-container">
    <div class="header-panel" style="background-image: url({{confirmationInfo.thumbnailUrl}})">
      <div class="header-content">
        <div class="title">{{safe-html confirmationInfo.title}}</div>
      </div>
    </div>
    <div class="body-panel">
      <div class="body-content">
        <div class="description-panel">
          <div class="description"><p>{{safe-html confirmationInfo.learningObjectives}}</p></div>
          <div class="details">
            <div class="taxonomy">
              {{#if tags.length}}
                {{taxonomy/gru-taxonomy-tag-list tags=tags tagsVisible=1 isInCard=true showDescription=true}}
              {{/if}}
            </div>
            <div class="resource">
              {{#if (and isCollectionConfirmation (gt confirmationInfo.resourceCount 0)) }}
                <span class="icon" data-toggle="tooltip" title="{{t 'common.resource'}}"></span>
                <span>{{confirmationInfo.resourceCount}}</span>
              {{/if}}
            </div>
            <div class="question">
              {{#if (gt confirmationInfo.questionCount 0)}}
                <span class="icon" data-toggle="tooltip" title="{{t 'common.question'}}"></span>
                <span>{{confirmationInfo.questionCount}}</span>
              {{/if}}
            </div>
            <div class="start-button">
              {{#if hasCollectionItems}}
                {{#unless noMoreAttempts}}
                  <div class="start" {{action 'start'}} disabled={{disableStart}}>
                    {{t 'qz-assessment-confirmation.continue'}}
                  </div>
                {{/unless}}
              {{/if}}
            </div>
          </div>
        </div>
        <div class="content-panel">
          {{#each confirmationInfo.content as |item index|}}
            <li>
              <div class="content-title">
                <span>{{plus-one index}}</span>
                <div class="title">{{item.title}}</div>
                <div class="image">
                  <i class="{{item.content_format }} {{item.content_subformat}}"></i>
                </div>
              </div>
            </li>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
