<div class="navigator-header" >
	<div class="course-map" {{action 'redirectCourseMap'}}>
	  {{gru-icon name="ic_play_arrow" class="course-map-play-icon on-slide-close"}}
	   <span class="on-slide-open">GO TO COURSE MAP</span>
	</div>
	<div class="back-to-collection" {{action 'backToCollection'}}>
	    {{gru-icon name="ic_navigate_before"}}
	    <h6 class="on-slide-open ellipsis">{{collection.title}}</h6>
	</div>
</div>

