{{#if isShowBackdrop }}
  <div class="backdrop-close" {{action 'onToggleRelatedContent'}}></div>
{{/if}}
<div class="related-content-tabs">
  <div class="related-content-tab" {{action 'onToggleRelatedContent'}}>
    <div class="tab-info">
      <span>Related Content</span> {{gru-icon name="explore"}}
    </div>
    <div class="related-content-tab-box"></div>
  </div>
</div>
<div class="related-content-body">
  <div class="resource-cards {{concat 'cards-'  suggestedResources.length}}">
    {{#each suggestedResources as |resource|}}
      {{cards/resource-card resource=resource onPlayResource='onPlayResource'}}
    {{/each}}
  </div>
</div>