<form {{action "createAssignment" on="submit"}}>
    <div class="form-group">
        <label for="class-id">Class ID:</label>
      {{validation.gru-input class="form-control" id="class-id" model=assignment valuePath='classId'}}
    </div>
    <div class="form-group">
        <label for="collection-id">Collection ID:</label>
      {{validation.gru-input class="form-control" id="collection-id" model=assignment valuePath='collectionId'}}
    </div>
    <div class="form-group">
        <label for="title">Title:</label>
      {{validation.gru-input class="form-control" id="title" model=assignment valuePath='title'}}
    </div>
  <div class="form-group">
    {{
    validation.gru-radio
    model=assignment
    groupValue=assignment.isCollection
    valuePath=value
    name='isCollection'
    translationPath='common.collection'
    }}
    {{
    validation.gru-radio
    model=assignment
    groupValue=assignment.isCollection
    valuePath=value
    name='isCollection'
    translationPath='common.assessment'
    }}
  </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>