<div class="panel panel-default category">
    <div class="panel-body">
        <div class="number">{{category.number}}</div>
        <div class="category-info">
            <label class="title">
                <span class="required">{{t "qz-rubric-creation.qz-category.title"}}</span>
              {{validation.gru-input model=category valuePath='title' maxLength=50}}
            </label>
          <div class="feedback">
              <label class="feedback-guidance">
                  <span class="required">{{t "qz-rubric-creation.qz-category.feedback-guidance"}}</span>
                {{validation.gru-textarea rawTextareaValue=category.feedbackGuidance model=category valuePath='feedbackGuidance' maxLength=500 rows=1}}
              </label>
              <label><input type="checkbox" value="">{{t 'qz-rubric-creation.qz-category.required-feedback'}}</label>
          </div>
            <div class="score">
              {{qz-switch switchOptions=switchOptions onOptionSwitch='onAnswerKeyChange' isChecked=showScore}}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="actions">
            <button title="{{t 'common.delete'}}" class="btn no-bgd delete" {{action 'deleteCategory' model}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="delete"}}</button>
            <button title="{{t 'common.copy'}}" class="btn no-bgd copy" {{action 'copyCategory' model}} data-toggle="tooltip" data-placement="auto">{{gru-icon name="content_copy"}}</button>
        </div>
    </div>
</div>
